// icons box
.icon-box-circle {
    width: 28px !important;
    height: 28px !important;
    padding: 0 !important;
    line-height: 28px !important;
    font-size: 0.9rem;
    text-align: center;
    border-radius: 50%;
    margin: 0 0.1rem;
    color: #fff;
}

.bg-facebook {
    background: #3b5998;
}

.bg-twitter {
    background: #238ddd;
}

.bg-linkedin {
    background: #007bb6;
}

.bg-youtube {
    background: #bb0000;
}

.bg-instagram {
    background: #be11e4;
}
